**In this project, we created a system that takes the name, surname, student ID, and the grade of the student, and gives if the student has passed or failed the course.**

**Importing the necessary libraries.**

In [1]:
import pandas as pd


**Creating the lists to save the inputs and the outputs.**

In [2]:
student_names = []
student_surnames = []
student_IDs = []
student_grades = []
letter_grades = []
passed_failed = []

**We used a while loop for user to enter student information and grade. The user can stop the system by saving as many student information as he wants, and by typing quit in the name field when he wants to exit the system.**

In [3]:
while True:
    
    name = str(input("If you want to quit, type quit. If not: / Student name: "))
  
    if name == "quit":
        break

    else: 
        name = name.capitalize() #Girilen ismin küçük harflerle girildi ise baş harfin büyütülmesi için bu satırı ekledik.
        student_names.append(name)
        surname = str(input("Student surname:"))
        surname = surname.capitalize()
        student_surnames.append(surname)
        ID = student_IDs.append(int(input("Student ID:")))
        grade = float(input("Student grade:"))
        if grade <= 100 and grade >= 0: #Girilen sınav notunun 0-100 arasında olması için böyle bir kısıt ekledik.
            grade = student_grades.append(grade)
        else:
            grade = student_grades.append(float(input("Student an allowed grade:")))

If you want to quit, type quit. If not: / Student name: b
Student surname:y
Student ID:555
Student grade:78
If you want to quit, type quit. If not: / Student name: quit


**In this part, we specified the letter grade ranges and we wrote a function to find if the student passed or failed the course.**

In [4]:
def Students_Grades_and_Passed_Failed(grades): 
    for i in grades :
        if i >= 90 and i <= 100 :
            letter_grades.append("AA")
            passed_failed.append("Passed")
        elif i >= 80 and i < 90 :
            letter_grades.append("BA")
            passed_failed.append("Passed")
        elif i >= 70 and i < 80 :
            letter_grades.append("BB")
            passed_failed.append("Passed")
        elif i >= 65 and i < 70 :
            letter_grades.append("CB")
            passed_failed.append("Passed")
        elif i >= 60 and i < 65 :
            letter_grades.append("CC")
            passed_failed.append("Passed")
        elif i >= 55 and i < 60 :
            letter_grades.append("DC")
            passed_failed.append("Passed")
        elif i >= 50 and i < 55 :
            letter_grades.append("DD")
            passed_failed.append("Passed")
        else:
            letter_grades.append("FF")
            passed_failed.append("Failed")
    return letter_grades , passed_failed

**Calling the function.**

In [5]:
Students_Grades_and_Passed_Failed(student_grades)

(['BB'], ['Passed'])

**Öğrenci bilgilerini, harf notunu, geçme/kalma durumunu data frame haline getirmek için bu bilgileri bir dictionary'e atadık.**

In [ ]:
information = {"Name": student_names,
               "Surname": student_surnames,
               "ID": student_IDs,
               "Grade": student_grades,
               "Letter Grade": letter_grades,
               "Passed/Failed": passed_failed}

In [ ]:
df = pd.DataFrame(information)
df.index +=1

In [ ]:
df

  Name Surname   ID  Grade Letter Grade Passed/Failed
1    B       Y  565   45.0           FF        Failed

**Kalan ve geçen öğrencileri görebilmek için data frameden bu bilgileri çekerek yeni bir data frame oluşturduk ve bu bilgilerle bir excel dosyası oluşturduk.**

In [ ]:
result_df = df[["Name","Surname","Passed/Failed"]]

In [ ]:
result_df

  Name Surname Passed/Failed
1    B       Y        Failed

In [ ]:
result_df.to_excel("Student_Passed_Failed.xlsx")